
.container{
    display: flex;
}

.left,.right{
    margin-top: 100px;
/* width: 50%; */
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    border-left: 1px solid lightblue ;
    padding: 36px;
}
img{
     width: 40%; 
    opacity: 70%;
}